DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiMWUyYzZmYmYtODg0OC00NTY1LWIxZmYtMjEyMDg5OTQ0OWMyIiwidGVuYW50X2lkIjoiNGRlNjgzNzdiZDUyNWU0NWRlYWNhZGViOGJiMjQyNzhiMzliMGRmM2JkZTYwYTkyZWFmYzk4ZjYyZTlhNDZiZiIsImludGVybmFsX3NlY3JldCI6IjBiNmZiODA5LTUzYzItNDI5Yi05MzQ1LTUwNTk0NTk3NjdlNCJ9.N_PIVJLdXKNcas6qwMYVm3CdkGa5Hitds1JYLsc3boc"
PULSE_API_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiMWUyYzZmYmYtODg0OC00NTY1LWIxZmYtMjEyMDg5OTQ0OWMyIiwidGVuYW50X2lkIjoiNGRlNjgzNzdiZDUyNWU0NWRlYWNhZGViOGJiMjQyNzhiMzliMGRmM2JkZTYwYTkyZWFmYzk4ZjYyZTlhNDZiZiIsImludGVybmFsX3NlY3JldCI6IjBiNmZiODA5LTUzYzItNDI5Yi05MzQ1LTUwNTk0NTk3NjdlNCJ9.N_PIVJLdXKNcas6qwMYVm3CdkGa5Hitds1JYLsc3boc"
